* {
  font-size: x-large;
}

input {
  font-size: 25px;
  line-height: normal;
}

.App {
  /* min-height: 100vh; */
  align-items: center;
  justify-content: start;
  color: #EBDDDC;
  margin: 8px;
}

header {
  display: flex;
  justify-content: space-between;
}

.main-form {
  justify-content: center;
  display: flex;
}

.main-form .text-input {
  width: 400px;
}

.link-button {
  background: none;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  color: #DDDACD;
  text-decoration: underline;
  cursor: pointer;
}

.lemma-reading {
  font-size: 18px;
}

.alert {
  margin: 20px;
}

.selected-radical-button {
  background-color: #68570d;
}