* {
  font-size: x-large;
}

input {
  font-size: 25px;
}

.App {
  min-height: 100vh;
  align-items: center;
  justify-content: start;
  color: #EBDDDC;
}

header {
  display: flex;
  justify-content: right;
}

form {
  justify-content: center;
  display: flex;
}

form .text-input {
  width: 400px;
}

.link-button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  color: #DDDACD;
  text-decoration: underline;
  cursor: pointer;
}