.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SearchForm {
  display: flex;
}

.radical-search-results li {
  display: inline-block;
}
